body {
    margin: 0;
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background: url('../../../frontend/assets/background.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.text-light {
    color: #917a7a!important;
    text-decoration: none;

}

.btn-primary {
    color: black !important;
}
.proj-header{
    line-height: 1;
    border-bottom: 1px solid #5f5e5e;
    margin-bottom: 2%;
}

.proj-header-logo {
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-size: 4vw;
    font-size: 4vh;
}

.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.input-group {
    vertical-align: center;
}

#response {
    border-style: inset;
    height: 65vh;
    width: 100%;
    margin-bottom: 1%;
    overflow-y: auto;
    word-wrap: break-word;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 25px;
    background-color: white;
 }

 #input-search{
     width:30px;
 }
 .btn-margin {
     margin: 33px;
 }

/*Main button class
==========================*/
.ph-button {
	
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;	   
    border-radius: 6px;
    cursor: pointer;
    font-style: normal;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;	
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;	
    padding: 19px 39px 18px;
    font-size: 18px;
	
}
/*Green
==========================*/
.ph-btn-green {

    border-color: #208d41;
	background-color: #5FCF80;

}
.ph-btn-green:hover, .ph-btn-green:focus, .ph-btn-green:active {
    background-color: #3ebf64;
    border-color: #2cb656;    
}

/*Blue
==========================*/
.ph-btn-blue {

    border-color: #0b2d44;
    background-color: #3F8ABF;
}

.ph-btn-blue:hover, .ph-btn-blue:focus, .ph-btn-blue:active {
    background-color: #397CAC;
    border-color: #326E99;   
}

/*red
==========================*/
.ph-btn-red {

    border-color: #831414;
    background-color: #da2d2d;
}

.ph-btn-red:hover, .ph-btn-red:focus, .ph-btn-red:active {
    background-color: #a31616;
    border-color: #700a0a;   
}

/* dark green
==========================*/
.ph-btn-dgreen {

    border-color: #043c16;
    background-color: #0d7730;
}

.ph-btn-dgreen:hover, .ph-btn-dgreen:focus, .ph-btn-dgreen:active {
    background-color: #0b6334;
    border-color: #04330b;   
}

/*Orange
==========================*/
.ph-btn-orange {

    background-color: #ed8d5a !important;
    border-color: #c06020 !important;

}
.ph-btn-orange:hover, .ph-btn-orange:focus, .ph-btn-orange:active {
    background: none repeat scroll 0 0 #fa7d29 !important;
    border-color: #e85c31 !important;    
}

.logout {
    margin-left: 25px;
    color: #dd6127;
    text-align: right !important;
}
.logout:hover {
    cursor: pointer;
}
.formfield * {
  vertical-align: top;
}

.btn-group-margin{
    margin-right: 5px;
}